* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------------------------------------------CSS 2D TRANSFORMATION---------------------------------------------------*/

/* section {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  background-color: yellowgreen;
} */

/*---------TRANSLATE X---------*/
/* section {
  transform: translateX(5rem);
} */

/*---------TRANSLATE Y---------*/
/* section {
  transform: translatey(5rem);
} */

/*---------TRANSLATE XY--------*/
/* section {
  transform: translate(5rem, 10rem);
} */

/*---------SCALE X-------------*/
/* section {
  transform: scaleX(1.5);
} */

/*---------SCALE Y-------------*/
/* section {
  transform: scaleY(1.3);
} */

/*---------SCALE XY------------*/
/* section {
  transform: scale(2, 1.5);
} */

/*--------ROTATE---------------*/

/* section {
  transform: rotate(45deg);
} */

/*---------SKEW X-------------*/

/* section {
  transform: skewX(10deg);
} */

/*---------SKEW Y-------------*/
/* 
section {
  transform: skewY(10deg);
} */

/*---------SKEW XY-------------*/
/* 
section {
  transform: skew(10deg, 10deg);
} */

/*--------------------------------------------------CSS 3D TRANSFORMATION-------------------------------------------------------*/

/* section {
  border: 1rem solid tomato;
  width: 25rem;
  perspective: 10rem;
} */

/* p {
  height: 10rem;
  margin: 2rem 0;
  background-color: yellowgreen;
  transition: all 1s ease-in-out;
} */

/* p:hover {
  transform: rotate3d(100, 100, 100, 180deg);
} */

/* p:hover {
  transform: rotateX(180deg);
} */

/* p:hover {
  transform: rotateY(180deg);
} */

/* p:hover {
  transform: rotateZ(180deg); 
}
*/

/* p:hover {
  transform: scaleY(1.2);
} */
/* 
p:hover {
    transform: scaleX(1.2);
  } */

/* p:hover {
  transform: scale3d(1.2, 1.2, 1.2);
} */

/*--------------------------------------------------CSS TRANSITION-------------------------------------------------------*/
/* 
a {
  display: inline-block;
  margin-top: 2rem;
  height: 5rem;
  width: 10rem;
  background-color: tomato;
  text-align: center;
  padding: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: background-color 1s, 0.5s color;
  transition-delay: 2s;
}

a {
  display: inline-block;
  margin-top: 2rem;
  height: 5rem;
  width: 10rem;
  background-color: tomato;
  text-align: center;
  padding: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: all 1s linear;
}

a:hover {
  background-color: turquoise;
  color: tomato;
  border-radius: 3rem;
} */

/*--------------------------------------------------CSS TRANSITION USING CUBIC BEZIER----------------------------------------------*/

/* img {
  margin: 3rem;
  height: 10rem;
  width: 20rem;
  transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

/* img:hover {
  transform: translateY(2rem);
} */

/* img:hover {
  transform: scale(1.2);
} */

/* img:hover {
  transform: rotate(180deg);
} */

/*----------------------------------------------------------CSS ANIMATION----------------------------------------------------------*/

/* section {
  height: 20rem;
  width: 25rem;
  padding: 2rem;
  position: relative;
  animation-name: anime;
  animation-duration: 10s;
} */
/* 
@keyframes anime {
  from {
    background-color: tomato;
  }
  after {
    background-color: turquoise;
  }
} */

/* @keyframes anime {
  0% {
    left: 0;
    top: 0;
  }

  100% {
    left: 100%;
    top: 0;
  }
} */

/* @keyframes anime {
  0% {
    background-color: thistle;
    left: 0;
    top: 0;
  }

  25% {
    background-color: violet;
    left: 20rem;
    top: 0;
  }

  50% {
    background-color: turquoise;
    left: 20rem;
    top: 20rem;
  }

  75% {
    background-color: tomato;
    left: 0;
    top: 20rem;
  }

  100% {
    background-color: aquamarine;
    left: 0;
    top: 0;
  }
} */

/*---------------------------------ANIMATION-INTERATION-COUNT -- >> animation-iteration-count can be 0 to infinite----------*/
/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
} 

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

*/

/*--------------------------------ANIMATION-DIRECTION -----------------------------*/
/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-direction: reverse;
}

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(0, 0);
  }
} */

/*--------------------------------ANIMATION TIMING FUNCTION --------------------------*/

/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(0, 0);
  }
} */

/*----------------------------------ANIMATION FILL MODE ---------------------------------------*/

/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(15rem, 15rem);
    background-color: cadetblue;
  }
} */

/*----------------------------------------------CSS FUNTION VAR-------------------------------------------------------------*/
/* :root {
  --main-color: yellowgreen;
  --main-font-weght: 600;
}
section {
  height: 20rem;
  width: 30rem;
  padding: 2rem;
  background-color: tomato;
}

p {
  background-color: var(--main-color);
  font-weight: var(--main-font-weght);
} */

/*-------------------------------------------------------TOOL TIP------------------------------------------------------------*/

/* section {
  display: inline-block;
  position: relative;
  margin: 10rem;
} */

/*difault positioning of tool tip*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
} */

/*Tool-Tip @ TOP */
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -2rem;
} */

/*Tool tip @Bottom*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3rem;
} */

/*Tool tip @ RIGHT*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: -30%;
  left: 110%;
} */

/*Tool tip @LEFT*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: -30%;
  right: 110%;
} */

/* 
section:hover span {
  visibility: visible;
} */

/*-------------------------------------------------------DIRECTIONAL TOOL TIP------------------------------------------------------------*/

/* section {
  display: inline-block;
  position: relative;
  margin: 10rem;
} */

/*difault positioning of tool tip*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
} */

/*Tool-Tip @ TOP ARROW @ BOTTOM*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -2rem;
}

section span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.3rem;
  border-width: 0.4rem;
  border-style: solid;
  border-color: thistle transparent transparent transparent;
} */

/*Tool tip @Bottom* Arrow @ TOP*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3rem;
}

section span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.3rem;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent thistle transparent;
} */

/*Tool tip @ RIGHT Arrow @ LEFT*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: -30%;
  left: 110%;
}

section span::after {
  content: "";
  position: absolute;
  border-color: transparent thistle transparent transparent;
  right: 100%;
  top: 50%;
  margin-top: -0.3rem;
  border-width: 0.4rem;
  border-style: solid;
} */

/*Tool tip @LEFT Arrow @ RIGHT*/
/* span {
  visibility: hidden;
  background-color: thistle;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: -30%;
  right: 110%;
}

section span::after {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent thistle;
  left: 100%;
  top: 50%;
  margin-top: -0.3rem;
  border-width: 0.4rem;
  border-style: solid;
} */

/* section:hover span {
  visibility: visible;
} */

/*-------------------------------------------- Button Click Feature - Button Challenge 1 ----------------------------------------*/

/* button {
  margin: 3rem;
  background-color: #4c56af;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 0.5rem rgb(110, 156, 152);
  border: none;
}

button:hover {
  background-color: #3e578e;
}

button:active {
  box-shadow: 0rem 0.2rem 0.5rem rgb(110, 156, 152);
  transform: translateY(0.2rem);
} */

/*----------------------------------- Button Click Feature with Transition- Button Challenge 1 ----------------------------------------*/

/* button {
  margin: 3rem;
  background-color: #4c56af;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 0.5rem rgb(110, 156, 152);
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #3e578e;
}

button:active {
  box-shadow: 0rem 0.2rem 0.5rem rgb(110, 156, 152);
  transform: translateY(0.2rem);
} */

/*----------------------------------- Button Hover Opacity- Button Challenge 2 ----------------------------------------*/

/* button {
  padding: 1rem 1.2rem;
  margin: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(110, 156, 152);
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  opacity: 1;
} */

/*----------------------------------- Button Ripple Effect- Button Challenge 3 ----------------------------------------*/

/* button {
  padding: 1rem 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: thistle;
  color: white;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}

button::after {
  content: "";
  background-color: tomato;
  background: linear-gradient(45deg, tomato, orange, olive);
  display: block;
  position: absolute;
  transition: all 1s;
  padding-top: 150%;
  padding-left: 150%;
  margin-left: -1.5rem !important;
  margin-top: -80%;
  opacity: 0;
}
button:active::after {
  padding: 0;
  margin: 0;
  transition: 0s;
  opacity: 1;
} */

/*----------------------------------Button Hover Slider Effect- Button Challenge 4---------------------------------------*/

/* button {
  padding: 1rem;
  background-color: tomato;
  border-radius: 1rem;
  border: none;
  margin: 2rem;
  cursor: pointer;
  width: 16rem;
}

span {
  font-size: 2rem;
  color: white;
  transition: 0.5s ease-in-out;
  position: relative;
}

button span::after {
  content: "\00bb";
  position: absolute;
  top: 0;
  right: -2rem;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

button:hover span {
  padding-right: 1rem;
}

button:hover span::after {
  opacity: 1;
  right: -1rem;
} */

/*-------------------------------------------Image Overlay - Image Challenge 1----------------------------------------------*/
/* section {
  width: 30rem;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: thistle;
  transition: all 0.5s ease-in-out;
}

p {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

section:hover div {
  opacity: 1;
} */

/*------------------------------------Image Slider Overlay Top to Bottom - Image Challenge 3-----------------------------------*/

/*Yet to do*/

/*------------------------------------Image Slider Overlay Top to Bottom - Image Challenge 3-----------------------------------*/

/*Yet to do*/

/*------------------------------------Image Slider Overlay Top to Bottom - Image Challenge 3-----------------------------------*/

/*Yet to do*/

/*------------------------------------Image Slider Overlay Top to Bottom - Image Challenge 3-----------------------------------*/

/*Yet to do*/

/*------------------------------------              -------------------------------*/
