* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------------------------------------------CSS 2D TRANSFORMATION---------------------------------------------------*/

/* section {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  background-color: yellowgreen;
} */

/*---------TRANSLATE X---------*/
/* section {
  transform: translateX(5rem);
} */

/*---------TRANSLATE Y---------*/
/* section {
  transform: translatey(5rem);
} */

/*---------TRANSLATE XY--------*/
/* section {
  transform: translate(5rem, 10rem);
} */

/*---------SCALE X-------------*/
/* section {
  transform: scaleX(1.5);
} */

/*---------SCALE Y-------------*/
/* section {
  transform: scaleY(1.3);
} */

/*---------SCALE XY------------*/
/* section {
  transform: scale(2, 1.5);
} */

/*--------ROTATE---------------*/

/* section {
  transform: rotate(45deg);
} */

/*---------SKEW X-------------*/

/* section {
  transform: skewX(10deg);
} */

/*---------SKEW Y-------------*/
/* 
section {
  transform: skewY(10deg);
} */

/*---------SKEW XY-------------*/
/* 
section {
  transform: skew(10deg, 10deg);
} */

/*--------------------------------------------------CSS 3D TRANSFORMATION-------------------------------------------------------*/

/* section {
  border: 1rem solid tomato;
  width: 25rem;
  perspective: 10rem;
} */

/* p {
  height: 10rem;
  margin: 2rem 0;
  background-color: yellowgreen;
  transition: all 1s ease-in-out;
} */

/* p:hover {
  transform: rotate3d(100, 100, 100, 180deg);
} */

/* p:hover {
  transform: rotateX(180deg);
} */

/* p:hover {
  transform: rotateY(180deg);
} */

/* p:hover {
  transform: rotateZ(180deg); 
}
*/

/* p:hover {
  transform: scaleY(1.2);
} */
/* 
p:hover {
    transform: scaleX(1.2);
  } */

/* p:hover {
  transform: scale3d(1.2, 1.2, 1.2);
} */

/*--------------------------------------------------CSS TRANSITION-------------------------------------------------------*/
/* 
a {
  display: inline-block;
  margin-top: 2rem;
  height: 5rem;
  width: 10rem;
  background-color: tomato;
  text-align: center;
  padding: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: background-color 1s, 0.5s color;
  transition-delay: 2s;
}

a {
  display: inline-block;
  margin-top: 2rem;
  height: 5rem;
  width: 10rem;
  background-color: tomato;
  text-align: center;
  padding: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: all 1s linear;
}

a:hover {
  background-color: turquoise;
  color: tomato;
  border-radius: 3rem;
} */

/*--------------------------------------------------CSS TRANSITION USING CUBIC BEZIER----------------------------------------------*/

/* img {
  margin: 3rem;
  height: 10rem;
  width: 20rem;
  transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

/* img:hover {
  transform: translateY(2rem);
} */

/* img:hover {
  transform: scale(1.2);
} */

/* img:hover {
  transform: rotate(180deg);
} */

/*----------------------------------------------------------CSS ANIMATION----------------------------------------------------------*/

/* section {
  height: 20rem;
  width: 25rem;
  padding: 2rem;
  position: relative;
  animation-name: anime;
  animation-duration: 10s;
} */
/* 
@keyframes anime {
  from {
    background-color: tomato;
  }
  after {
    background-color: turquoise;
  }
} */

/* @keyframes anime {
  0% {
    left: 0;
    top: 0;
  }

  100% {
    left: 100%;
    top: 0;
  }
} */

/* @keyframes anime {
  0% {
    background-color: thistle;
    left: 0;
    top: 0;
  }

  25% {
    background-color: violet;
    left: 20rem;
    top: 0;
  }

  50% {
    background-color: turquoise;
    left: 20rem;
    top: 20rem;
  }

  75% {
    background-color: tomato;
    left: 0;
    top: 20rem;
  }

  100% {
    background-color: aquamarine;
    left: 0;
    top: 0;
  }
} */

/*---------------------------------ANIMATION-INTERATION-COUNT -- >> animation-iteration-count can be 0 to infinite----------*/
/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
} 

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

*/

/*--------------------------------ANIMATION-DIRECTION -----------------------------*/
/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-direction: reverse;
}

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(0, 0);
  }
} */

/*--------------------------------ANIMATION TIMING FUNCTION --------------------------*/

/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(0, 0);
  }
} */

/*----------------------------------ANIMATION FILL MODE ---------------------------------------*/

/* section {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: aquamarine;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

@keyframes myanime {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15rem, 15rem);
  }

  50% {
    transform: translate(30rem, 15rem);
  }

  75% {
    transform: translate(30rem, 30rem);
  }

  100% {
    transform: translate(15rem, 15rem);
    background-color: cadetblue;
  }
} */
