*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------------------ FORM PROPERTIES -------------------------------*/

/* section {
  border: 1px solid lightslategrey;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

form {
  margin: 10px;
  padding: 10px;
}

input:checked:hover {
  width: 28px;
  height: 28px;
}

input:read-only {
  background-color: mediumaquamarine;
}

input:disabled {
  background-color: mediumpurple;
}

input:required {
  background-color: navajowhite;
}

input:invalid {
  background-color: orangered;
}

input:focus {
  background-color: peachpuff;
  width: 300px;
} */

/*----------------------------------------- CHILD Properties ----------------------------------*/

/* p:only-child {
  color: red;
}

p:only-of-type {
  color: peru;
}

p:nth-child(5) {
  color: green;
}

p:nth-last-child(2) {
  color: purple;
}

p:nth-of-type(2) {
  color: salmon;
}

p:nth-last-of-type(1) {
  color: springgreen;
} */

/*OPACITY PROPERTIES*/

/* body {
  background-color: lightcoral;
}
img {
  opacity: 0.6;
} */

/* opacityTest {
  background-color: lightcoral;
  text-align: center;
  height: 200px;
  width: 200px;
  opacity: 0.5;
} */

/* .opacityTest {
  background-color: rgba(240, 128, 128, 0.5);
  text-align: center;
  height: 200px;
  width: 200px;
} */

/*----------------------------------------------  CSS PSEUDO ELEMENT SELECTOR  ----------------------------------*/

/* p::first-letter {
  color: brown;
  text-shadow: 3px 3px 3px grey;
  font-weight: bold;
  font-size: xx-large;
} */

/* p::first-line {
  color: lightcoral;
}

p.para::first-line {
  color: lightseagreen;
}

label::after {
  content: "*";
}
label::before {
  content: "1-";
}

:not(p.para)::selection {
  color: lightskyblue;
}

::selection {
  background-color: navajowhite;
} */

/*--------------------------------------    INSTAGRAM CHALLENGE FOR PSEUDO AFTER/BEFORE ELEMENT    --------------------*/

/* section {
  width: 40%;
  height: 50px;
  background-color: paleturquoise;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 12px;
}

section:before {
  content: " ";
  width: 100%;
  position: absolute;
  border: 2px solid brown;
  top: 50%;
  left: 0;
}

h1 {
  background-color: paleturquoise;
  width: auto;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
} */

/*--------------------------------------------------  CSS PSEUDO ATTRIBUTE SELECTOR  ----------------------------------------*/

/*Attribute selector*/
/* h2[title] {
  color: paleturquoise;
} */

/*Attribute+Value selector*/
/* h2[title="headerValue"] {
  color: palevioletred;
} */

/*Caret Attribute selector*/
/* h2[class^="heading"] {
  color: rebeccapurple;
} */

/*Pipe Attribute Selector*/
/* h2[class|="heading"] {
  color: tomato;
} */

/*Dollar Attribute Selector*/
/* h2[class$="six"] {
  color: saddlebrown;
} */

/*Asterisk Attribute Selector*/
/* h2[class*="head "] {
  color: seagreen;
} */

/*Squiggly Attribute Selector*/
/* h2[class~="heading"] {
  color: springgreen;
} */

/*--------------------------------------------------  FORM CHALLENGE SELECTOR   ---------------------------------------------*/

/* body {
  background-color: rgba(4, 72, 99, 0.973);
}

form {
  width: 500px;
  margin: 30px auto 0;
  background-color: hsl(157, 72%, 48%);
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input[type],
select,
textarea {
  display: block;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  transition: all 0.35s ease-in-out;
  width: 250px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: rgb(148, 243, 54);
  width: 300px;
  border: none;
}

input,
select,
textarea {
  padding: 10px 30px;
  margin: 15px 25px 0;
  border: none;
  border-bottom: 2px solid rgb(148, 243, 54);
  background-color: hsl(157, 72%, 48%);
  outline: none;
  color: white;
}

select {
  background-color: rgba(4, 72, 99, 0.541);
  border: none;
  color: white;
}
input[type="button"],
input[type="reset"] {
  width: 300px;
  background-color: rgb(148, 243, 54);
}
textarea {
  border-left: 2px solid rgb(148, 243, 54);
}

::placeholder {
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
} */

/*----------------------------------------------  CSS MENU DROP  -----------------------------------------*/

/* html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
}

section {
  margin: 1rem 0 0 1rem;
  display: inline-block;
}
section > a {
  display: inline-block;
  background-color: rgba(188, 221, 139, 64);
  font-size: 2rem;
  padding: 2rem;
}

div {
  display: none;
  background-color: rgb(194, 190, 190);
  width: 100%;
}

div > a {
  display: block;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

div a:hover {
  background-color: white;
  color: rgb(194, 190, 190);
}
section:hover div {
  display: block;
} */

/*--------------------------------------------------  CSS GRADIENT  ----------------------------------------------*/

/*--------------------------------------------------LINEAR GRADIENT-----------------------------------------------*/

/* Linear Gradient -- by default linear gradient are top to bottom*/
/* section {
  height: 200px;
  width: 300px;
  background: linear-gradient(green, blue);
} */

/* Linear Gradient- bottom top */
/* section {
  height: 200px;
  width: 300px;
  background: linear-gradient(to top, green, blue);
} */

/* Linear Gradient- left to right */
/* section {
  height: 200px;
  width: 300px;
  background-image: linear-gradient(to right, green, blue);
} */

/* Linear Gradient- right to left */
/* section {
  height: 200px;
  width: 300px;
  background: linear-gradient(to left, green, blue);
} */

/* Linear Gradient- Diagonal */
/* section {
  height: 200px;
  width: 300px;
  background: linear-gradient(to bottom left, green, blue);
} */

/* Linear Gradient- Using Angles */
/* section {
  height: 200px;
  width: 300px;
  background: linear-gradient(45deg, green, blue);
} */

/* Linear Gradient- COLOR STOP */
/* section {
  height: 200px;
  width: 300px;
  background: linear-gradient(green 60%, blue);
} */

/* Linear Gradient- Transparent Gradient */
/* section {
  height: 200px;
  width: 300px;
  background: linear-gradient(yellow, hsla(120, 100%, 25%, 0.329));
} */

/* Linear Gradient- Reapeating Linear Gradient */
/* section {
  height: 200px;
  width: 300px;
  background-image: repeating-linear-gradient(
    hsla(120, 100%, 25%, 0.329),
    blue 20%,
    yellow 20%
  );
} */

/* Linear Gradient- Reapeating Linear Gradient */
/* section {
  height: 200px;
  width: 300px;
  background-image: repeating-linear-gradient(
    to top,
    blue 20%,
    yellow 20%,
    red
  );
} */

/*--------------------------------------------------RADIAL GRADIENT-----------------------------------------------*/

/* Radial Gradient */
/* section {
  height: 200px;
  width: 300px;
  background-image: radial-gradient(circle, lightseagreen, lightcoral 70%);
} */

/* Radial Gradient- Reapeating Radial Gradient */
/* section {
  height: 200px;
  width: 300px;
  background-image: repeating-radial-gradient(circle, blue 20%, yellow, red);
} */
